.footer{
    background: $dark-black;
    padding: $s-size $s-size;
    display: flex;
    justify-content: center;
    color:white;

}


.slogan {
    color:$light-blue;
    font-weight: 700;
    font-size: 20px;
    font-family:"Courier New";
}