.titulo {
    text-align:center;
    
}

.titulo__fila {
    font-size:45px;
}

.titulo__num_fila{
    font-size: 30px;
}


.iniciar-atendimento {

    background-color: rgb(28, 116, 231);
    padding-top:20px;
    text-align: center;
    margin:30px auto;
    width: 50%;
    height: 50px;
    font-size: 25px;
    border-radius: 8px;
    font-family: arial, sans-serif;
    color: white;
    border:none;
    
    
}
